body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(72, 143, 72),rgb(120, 120, 228), rgb(113, 140, 81));
}
#container {
  width: 700px;
  height: 400px;
  background-color: rgb(62, 2, 92);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#header{
    color: white;
    font-size: 22px;
}
#time{
    font-size: 110px;
    color: white;
    display: flex;
}
#footer{
    display: flex;
    gap: 25px;
}
.butt{
    border-radius: 20px;
    border: none;
    font-size: 15px;
    padding: 10px;
    width: 120px;
}
.butt:hover{
    background-color: blueviolet;
    color: white;
    transition: 0.3s;
}
