body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    120deg,
    rgb(132, 250, 176) 0%,
    rgb(143, 211, 244) 100%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#con {
  margin: 0;
  width: 80vh;
  height: 100vh;
  position: relative;
}
h1 {
  position: absolute;
  top: 190px;
  left: 25%;
  font-size: 80px;
  color: white;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
#container {
  position: absolute;
  top: 430px;
  left: 32%;
  width: 320px;
  height: 290px;
  background-color: rgb(3, 149, 138);
  border-radius: 30px;
  border: 20px solid transparent;
  border-color: white;
  padding: 0 14px 9px 14px;
}
#nevtbox {
  position: absolute;
  top: 235px;
  left: 52%;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid transparent;
  border-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  height: 100px;
  width: 400px;
  transform: matrix(0.990268, 0.139173, -0.139173, 0.990268, -200, 0);
}
h2 {
  font-size: 17px;
  color: rgb(51, 57, 62);
}
#header {
  display: flex;
  gap: 0;
  flex-direction: column;
}
#mini {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  place-content: center center;
}
.minis {
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 70px;
  height: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 0.5px solid rgb(62, 62, 62);
}
input {
  height: 30px;
  padding: 0 0 0 7px;
  border: 0.5px inset black;
}
button {
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 27px;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(78, 78, 78);
}
